body {
    background-image: url('mountains.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    padding: 0;
  }
  
  .banner {
    background-color: #6D597A;
    color: #fff;
    padding: 10px;
    text-align: center;
  }
  
.banner a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.item-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.item-container label {
    margin-left: 5px;
}

.delete-button {
    color: red;
    cursor: pointer;
    float: right;
}